*/config/development
*/logs/*log-*.php

!*/logs/index.html
*/cache/session/*.php
*/cache/session/PSBYPSA*
!/cache/session/index.html
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess
!*/index.html
!*/.htaccess
 
user_guide_src/*


#codeigniter 3
#application/logs/*
#application/config/*

#application/config/database.php

AppDoc/anggota/foto*
AppDoc/anggota/scan*
AppDoc/relawan/foto*
AppDoc/relawan/scan*
AppDoc/media/*.xlsx
AppDoc/media/media*
AppDoc/laporan/lampiran*

.env
.htaccess
!application/logs/index.html
!application/logs/.htaccess
